@page
@model Wms.Theme.Web.Pages.Reports.ReportInboundModel
@{
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
}
@Html.AntiForgeryToken()

<div class="grid grid-cols-6 md:grid-cols-6 mb-3 gap-3">
    <div class="md:col-span-2">
        <div class="relative">
            <input type="hidden" id="selectedWarehouseId" name="selectedWarehouseId" />
            <input type="text"
                   id="warehouseSearch"
                   autocomplete="off"
                   placeholder="@L["Warehouse"]"
                   class="w-full px-3 py-1.5 text-sm border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors">
            <ul id="warehouseDropdown" class="absolute z-10 w-full bg-white border border-gray-300 rounded-md mt-1 hidden shadow-lg max-h-48 overflow-y-auto [&::-webkit-scrollbar]:w-1.5">
            </ul>
        </div>
    </div>
    <div class="hidden">
        <div class="relative">
            <input type="hidden" id="selectedSkuId" name="selectedSkuId" />
            <input type="text"
                   id="skuSearch"
                   autocomplete="off"
                   placeholder="@L["SKU"]"
                   class="w-full px-3 py-1.5 text-sm border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors">
            <ul id="skuDropdown" class="absolute z-10 w-full bg-white border border-gray-300 rounded-md mt-1 hidden shadow-lg max-h-48 overflow-y-auto [&::-webkit-scrollbar]:w-1.5">
            </ul>
        </div>
    </div>
    <div>
        <input type="text"
               id="fromDate"
               name="fromDate"
               placeholder="dd/mm/yyyy"
               class="w-full px-3 py-1.5 text-sm border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors bg-white">
    </div>
    <div>
        <input type="text"
               id="toDate"
               name="toDate"
               placeholder="dd/mm/yyyy"
               class="w-full px-3 py-1.5 text-sm border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors bg-white">
    </div>

    <div class="flex justify-between items-center">
        <button type="button" onclick="refreshData()" class="bg-gray-300 px-4 py-2 rounded-md text-sm font-medium hover:bg-green-700 shadow-sm transition-colors flex items-center gap-1">
            <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
        <button type="button" onclick="searchData()" class="bg-blue-500 text-white px-4 py-2 rounded-md text-sm font-medium hover:bg-green-700 shadow-sm transition-colors flex items-center gap-1">
            <i class="fa fa-search" aria-hidden="true"></i>
            @L["Search"]
        </button>
    </div>
</div>

<div id="gridReportInbound" style="height: calc(100vh - 240px); width:100%;" class="ag-theme-alpine"></div>

<script>

    let lastMonth = new Date(new Date().getFullYear(), new Date().getMonth() - 1, 1);
    document.addEventListener('DOMContentLoaded', function() {
            flatpickr("#fromDate", {
                dateFormat: "d/m/Y",
                altInput: true,
                altFormat: "d/m/Y",
                defaultDate: lastMonth,
                allowInput: true,
            });

            flatpickr("#toDate", {
                dateFormat: "d/m/Y",
                altInput: true,
                altFormat: "d/m/Y",
                defaultDate: "today",
                allowInput: true,
            });
        });

    function debounce (fn , delay){
            let timer;
            return function (...args) {
                clearTimeout(timer);
                timer = setTimeout(() => fn.apply(this, args), delay);
            };
    }

    const searchInputSku = document.getElementById('skuSearch');
    const dropdownSku = document.getElementById('skuDropdown');
    const selectedSkuId = document.getElementById('selectedSkuId');

    const debouncedSearchSku = debounce(async function () {
            const data = await fetchSkus(searchInputSku.value);
            renderDropdownSku(data);
        }, 300);

    searchInputSku.addEventListener('input', debouncedSearchSku);
    searchInputSku.addEventListener('focus', async function () {
            if (!dropdownSku.classList.contains('hidden')) return;
            const data = await fetchSkus(this.value);
            renderDropdownSku(data);
    });

    function renderDropdownSku(data) {
            if(data === null){
                return;
            }
            if(!Array.isArray(data)){
                return
            }

            dropdownSku.innerHTML = '';
            if (data.length === 0) {
                dropdownSku.innerHTML = `<li class="px-4 py-2 text-gray-500 text-sm"></li>`;
                dropdownSku.classList.remove('hidden');
                return;
            }
            data.forEach(sku => {
                const li = document.createElement('li');
                li.className = "px-4 py-2 hover:bg-blue-50 cursor-pointer text-sm border-b last:border-b-0";
                li.textContent = `${sku.skuCode} (${sku.skuName})`
                li.onclick = () => {
                    searchInputSku.value = `${sku.skuCode} (${sku.skuName})`;
                    selectedSkuId.value = sku.skuId;
                    dropdownSku.classList.add('hidden');
                };
                dropdownSku.appendChild(li);
            });
             dropdownSku.classList.remove('hidden');
        }

    async function fetchSkus(keyword = '' , pageIndex = 1)
        {
            if (currentAbortController) {
                currentAbortController.abort();
            }
            currentAbortController = new AbortController();
            try
            {
               const keyWordParam = keyword?.trim()
                     ? `&keyWord=${encodeURIComponent(keyword.trim())}`
                     : '';

               const url = `?handler=SearchSku${keyWordParam}&pageIndex=${pageIndex}`;
               const response = await fetch(url , {
                        signal : currentAbortController.signal
               });
               if (!response.ok) {
                   return [];
               }
               return await response.json();
            } catch (e) {
               if (e.name === 'AbortError') {
                   return null;
               }
                console.error('Error fetching warehouses:', e);
                return [];
            }
        }

    const searchInput = document.getElementById('warehouseSearch');
    const dropdown = document.getElementById('warehouseDropdown');
    const selectedWarehouseId = document.getElementById('selectedWarehouseId');
    let currentAbortController = null;

    function refreshData() {
        searchInputSku.value = "";
        searchInput.value = "";
        selectedWarehouseId.value = "";
        selectedSkuId.value = "";
        flatpickr("#fromDate", {
                dateFormat: "d/m/Y",
                altInput: true,
                altFormat: "d/m/Y",
                defaultDate: lastMonth,
                allowInput: true,
            });

            flatpickr("#toDate", {
                dateFormat: "d/m/Y",
                altInput: true,
                altFormat: "d/m/Y",
                defaultDate: "today",
                allowInput: true,
            });
    }

    const debouncedSearch = debounce(async function () {
            const data = await fetchWarehouses(searchInput.value);
            renderDropdown(data);
        }, 300);

        searchInput.addEventListener('input', debouncedSearch);

        searchInput.addEventListener('focus', async function () {
            if (!dropdown.classList.contains('hidden')) return;
            const data = await fetchWarehouses(this.value);
            renderDropdown(data);
        });

     function renderDropdown(data) {
            if(data === null){
                return;
            }
            if(!Array.isArray(data)){
                return
            }

            dropdown.innerHTML = '';
            if (data.length === 0) {
                dropdown.innerHTML = `<li class="px-4 py-2 text-gray-500 text-sm"></li>`;
                dropdown.classList.remove('hidden');
                return;
            }
            data.forEach(wh => {
                const li = document.createElement('li');
                li.className = "px-4 py-2 hover:bg-blue-50 cursor-pointer text-sm border-b last:border-b-0";
                li.textContent = `${wh.warehouseName} (${wh.address})`
                li.onclick = () => {
                    searchInput.value = `${wh.warehouseName} (${wh.address})`;
                    selectedWarehouseId.value = wh.id;
                    dropdown.classList.add('hidden');
                };
                dropdown.appendChild(li);
            });
             dropdown.classList.remove('hidden');
        }

    async function fetchWarehouses(keyword = '' , pageIndex = 1)
        {
            if (currentAbortController) {
                currentAbortController.abort();
            }
            currentAbortController = new AbortController();
            try
            {
               const keyWordParam = keyword?.trim()
                     ? `&keyWord=${encodeURIComponent(keyword.trim())}`
                     : '';

               const url = `?handler=SearchWareHouse${keyWordParam}&pageIndex=${pageIndex}`;
               const response = await fetch(url , {
                        signal : currentAbortController.signal
               });
               if (!response.ok) {
                   return [];
               }
               return await response.json();
            } catch (e) {
               if (e.name === 'AbortError') {
                   return null;
               }
                console.error('Error fetching warehouses:', e);
                return [];
            }
        }

    const columnDefInbound = [
        {
            headerName: '@Html.Raw(L["SerialNumber"])',
            field: "serialNumber",
            pinned : "left",
            sortable: true,
            filter: true,
            cellRenderer: params => {
                const serial = params.value ?? '';
                const receiptId = +(params.data?.receiptId ?? 0);

                if (!serial) return '';

                if (receiptId <= 0) {
                    return `<span class="text-gray-700">${serial}</span>`;
                }

                const detailUrl = `/Inbound/Receipt/Detail/${receiptId}`;

                return `
                    <a href="${detailUrl}"
                       class="text-blue-600 hover:text-blue-800 underline font-medium"
                       title="${serial}">
                        ${serial}
                    </a>
                `;
            }
        },
        {
               headerName: '@Html.Raw(L["Date"])',
               sortable : true,
               pinned : "left",
               field: "receiptDateStr",
               width: 130
        },
        {
               headerName: '@Html.Raw(L["Supplier"])',
               sortable : true,
               field: "supplierName",
               width: 130
        },
        {
            headerName: '@Html.Raw(L["Description"])',
            field: "description",
            sortable: true,
            filter: true
        },
        { headerName: '@Html.Raw(L["SKU"])',
            field: "itemCode",
            sortable: true,
            filter: true
        },
        {
            headerName: '@Html.Raw(L["SkuName"])',
            flex: 2,
            field: "itemName",
            sortable: true,
            filter: true
        },
        {
            headerName: '@Html.Raw(L["Unit"])', field: "unit", sortable: true, filter: true },
        {
                headerName: '@Html.Raw(L["Quantity"])',
                field: "quantity",
                width: 120,
                cellClass: 'text-right font-semibold text-blue-700',
                cellRenderer: params => {
                    if (params.value === undefined || params.value === null) return '';
                    let quantity = +(params.data.quantity ?? 0);
                    if (quantity === 0) return '';

                    return `<span class="text-right font-semibold text-blue-700">${quantity}</span>`
                }
        },
        {
                headerName: '@Html.Raw(L["ScheduledIncoming"])',
                field: "incomingQty",
                width: 120,
                pinned : "right",
                cellClass: 'text-right font-semibold text-blue-700',
                cellRenderer: params => {
                    if (params.value === undefined || params.value === null) return '';
                    let inQuantity = +(params.data.incomingQty ?? 0);
                    if (inQuantity === 0) return '';

                    return `<span class="text-right font-semibold text-blue-700">${inQuantity}</span>`
                }
        }
    ];

    // Serialize Razor model into JSON
    let rowDataInbound = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.ReportItems,
                                                                                                                                new System.Text.Json.JsonSerializerOptions { PropertyNamingPolicy = System.Text.Json.JsonNamingPolicy.CamelCase }));

    const gridOptions = {
        columnDefs: columnDefInbound,
        rowData: rowDataInbound,
        pagination: true,
        defaultColDef: {
          resizable: true,
          flex: 1
        }
    };

    let gridApi;

    document.addEventListener('DOMContentLoaded', () => {
         const gridDiv = document.querySelector('#gridReportInbound');
         gridApi = agGrid.createGrid(gridDiv, gridOptions);
    });

    async function searchData() {
        const fromDateText = document.getElementById('fromDate')?.value?.trim();
        const toDateText = document.getElementById('toDate')?.value?.trim();
        const warehouseIdText = document.getElementById('selectedWarehouseId')?.value?.trim();
        const skuIdText = document.getElementById('selectedSkuId')?.value?.trim();
        const payload = {
                    WarehouseId: Number(warehouseIdText),
                    ToDate: FormatDMY(toDateText),
                    FromDate: FormatDMY(fromDateText)
                };

                const token = document.querySelector('input[name="__RequestVerificationToken"]')?.value;
                const response = await fetch(`?handler=SearchData`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'RequestVerificationToken': token
                    },
                    body: JSON.stringify(payload)
                })
                .then(res => res.json())
                .then(data => {
                    // Replace all rows with new data
                    gridApi.setGridOption("rowData", data.items);
                })
                .catch(err => console.error('Error loading inventory:', err));
    }

</script>