@page
@model Wms.Theme.Web.Pages.Setting.Sku.IndexModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<Wms.Theme.Web.SharedResource> Localizer
@{
    ViewData["Title"] = "Sku";
    var role = TempData.Peek("UserRole")?.ToString();
}

@if (role != "Admin" && role != "Operator")
{
    <div class="flex items-end gap-2"></div>
}
else
{
    <div class="container p-3">
        <div class="flex items-start justify-between">
            <div>
                <h2 class="text-3xl font-bold text-gray-900 dark:text-gray-100">@L["ListSKU"]</h2>
            </div>
            <div class="flex gap-3">
                @* <a href="Sku/Create" class="btn btn-primary">@L["Common_AddNew"]</a> *@
                <form id="excelForm" asp-action="Setting/Sku/ImportExcel" enctype="multipart/form-data" method="post">
                    <input type="file" name="excelFile" accept=".xlsx,.xls" class="hidden" id="excelUpload" />
                    <label for="excelUpload" class="btn btn-secondary cursor-pointer">
                        @L["Common_ImportExcel"]
                    </label>
                </form>
                <button id="downloadBtn" class="btn btn-primary" title="@Html.Raw(L["GetTemplate"])"> <span class="hidden sm:inline">@Html.Raw(L["GetTemplate"])</span></button>
            </div>
        </div>
    </div>

    <!-- Loading spinner -->
    <div id="loadingOverlay" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%;
        background-color:rgba(0,0,0,0.4); z-index:9998;">
    </div>

    <div id="loadingSpinner" style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); z-index:9999;">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Đang xử lý...</span>
        </div>
    </div>

    <div class="bg-white rounded-lg shadow overflow-hidden">
        <div class="overflow-x-auto">
            <div id="skuGrid" class="ag-theme-quartz" style="height: 500px; width: 100%;"></div>
        </div>
    </div>
}



<script>
    
    const unitOptions = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(
            Model.Units,
            new System.Text.Json.JsonSerializerOptions { PropertyNamingPolicy = System.Text.Json.JsonNamingPolicy.CamelCase }
    ));
    

    document.getElementById("excelUpload").addEventListener("change", function () {
           document.getElementById("loadingSpinner").style.display = "block";
           document.getElementById("loadingOverlay").style.display = "block";

           const form = document.getElementById("excelForm");
           const formData = new FormData(form);
           
           fetch(form.action, {
               method: "POST",
               body: formData
           })
           .then(response => {
               document.getElementById("loadingOverlay").style.display = "none";
               document.getElementById("loadingSpinner").style.display = "none";
               if (response.ok) {                                     
                   Notify.info('@Html.Raw(Localizer["OperationSuccessful"])');
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
               } else {
                   Notify.info('@Html.Raw(Localizer["Tryagain"])');
               }
           })
           .catch(error => {
               document.getElementById("loadingSpinner").style.display = "none";
               document.getElementById("loadingOverlay").style.display = "none";
               console.error("Lỗi:", error);
               Notify.error('Connection error');
           });
       });

    const rowData = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Sku, new System.Text.Json.JsonSerializerOptions { PropertyNamingPolicy = System.Text.Json.JsonNamingPolicy.CamelCase }));

    const columnDefs = [
        {
          field: "skuCode",
          headerName: "@Html.Raw(Localizer["SkuCode"])",
          flex: 1 ,
          editable: true
        },

        { field: "skuName",
          headerName: "@Html.Raw(Localizer["SkuName"])",
          flex: 2 ,
          editable: true
        },
        {
          field: "unitName",
          headerName: "@Html.Raw(Localizer["Unit"])",
          width: 150,
          editable: true,
          cellEditor: "agSelectCellEditor",
          cellEditorParams: {
              values: unitOptions.map(x => x.unitName) 
          }
        },
        {
            headerName: "",
            field: "Id",
            width: 70,
            pinned: 'right',
            cellRenderer: (params) => {
                const btnDelete = document.createElement("button");
                btnDelete.innerHTML =`<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                      </svg>`;
                btnDelete.title = "@Html.Raw(L["Remove"])";
                btnDelete.addEventListener("click", () => {
                    params.api.applyTransaction({ remove: [params.node.data] });
                    deleteSku(params.data.skuId)
                });

                return btnDelete;
            },
       },
    ];
      
    const gridOptions = {
        columnDefs: columnDefs,
        rowData: rowData,
        singleClickEdit: true, 
        stopEditingWhenCellsLoseFocus: true,
        defaultColDef: {
            sortable: true,               
            filter: true,                
            resizable: true,
        },
        onCellValueChanged: function(event) {
     
            if (event.oldValue === event.newValue) return;

             if (event.colDef.field === "unitName") {
                const selected = unitOptions.find(x => x.unitName === event.data.unitName);
                event.data.skuUomId = selected ? selected.id : null;
            }

            const id = event.data.id || event.data.skuId;  
            const url = `?handler=UpdateSku&id=${id}`;
            const payload = {
                skuCode: event.data.skuCode,
                skuName: event.data.skuName,
                skuUomId: event.data.skuUomId
            };

      
            postData(url, payload)
                .then(result => {
                    if (result && result.success) {
                        Notify.success(result.message || '@Html.Raw(Localizer["OperationSuccessful"])');
                    } else {
                        Notify.error(result.message || '@Html.Raw(Localizer["OperationFailed"])');
                    }
                })
                .catch(err => {
                    console.error('@Html.Raw(Localizer["OperationFailed"])', err);
                    Notify.error( '@Html.Raw(Localizer["OperationFailed"])');
                    event.node.setDataValue(event.colDef.field, event.oldValue);
                });
        }
    };

    document.addEventListener('DOMContentLoaded', function () {
        const gridDiv = document.querySelector('#skuGrid');
        agGrid.createGrid(gridDiv, gridOptions);
    });

    function downloadTemplateSku() {
        postData('?handler=DownloadTemplate')
        .then(() => Notify.success('@Html.Raw(Localizer["ExportSuccess"])'))
        .catch((err) => {                
            console.log("[ERROR] DownloadTemplate", err);                
            Notify.error('@Html.Raw(Localizer["ExportFailed"])');            
        });
    }

    function deleteSku(skuId) {
        let payload = {
            SkuId: skuId
        };
        postData('?handler=DeleteSku', payload)
            .then((result) => {
                isLoading = false;
                if (!result.success) {
                    Notify.error('@Html.Raw(Localizer["OperationFailed"])');
                } else {
                    Notify.success('@Html.Raw(Localizer["OperationSuccessful"])');
                }
            })
            .catch((err) => {
                console.log("[ERROR] deleteSku", err);
                isLoading = false;
                Notify.error('@Html.Raw(Localizer["OperationFailed"])');
            });
    }

    async function postData(url, data) {
        if(!data) return;

        const token = document.querySelector('input[name="__RequestVerificationToken"]')?.value;
        const response = await fetch(url,
            {
                method: 'POST',
                headers: { 'Content-Type': 'application/json', 'RequestVerificationToken': token },
                body: JSON.stringify(data)
            }
        );

        if (!response.ok) throw new Error(`HTTP error! status: ${response.status}`);
        return await response.json();
    }

    document.getElementById("downloadBtn").addEventListener("click", async () => {
    try {
        const response = await fetch('?handler=DownloadTemplate');
        if (!response.ok) {
            throw new Error("Không thể tải file");
        }

        const blob = await response.blob();
        const url = window.URL.createObjectURL(blob);

        const a = document.createElement("a");
        a.href = url;
        a.download = "TemplateSKU.xlsx"; 
        document.body.appendChild(a);
        a.click();
        a.remove();

        window.URL.revokeObjectURL(url);
    } catch (err) {
        Notify.error(err.message);
    }
    });

</script>